#description {
    margin: 20px 20px 20px 20px;
    color: #078686;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    align-items: center;
    text-align: left;
    letter-spacing: -0.333333px;
}