body, html {
    height: 100%;
    background-size: cover;
    background: linear-gradient(180deg, rgba(238, 249, 249, 0.99) 24.77%, rgba(215, 247, 247, 0.993002) 32.81%,
    #A2F3F3 51.56%, #61F1F1 74.48%) no-repeat fixed;
}

.pageHeader {
    position: relative;
    margin: 20px 20px 20px 20px;
    display: inline-block;
    color: #078686;
    font-size: 4vh;

}
#home, #journals, #goals, #logoutbutton {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #078686;
    font-size: 2vh;

}


.text {
    position: relative;
    margin: 20px 20px 20px 20px;
    display: inline-block;
    color: #078686;
    font-size: 2vh;
}


.buttons{
    position: relative;
    width: 10%;
    height: 10%;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: #8FD2D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 2px solid black;
}

@media only screen and (max-width: 600px) {
    .buttons {
        width: 30%;
        height: 10%;
    }
    #home, #goals, #journals {
        width: 10%;
    }
    #logoutbutton {
        width: 28%;
    }
}

.Goals {
    position: relative;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    width: 90%;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
    background: #57DFDF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    border: 2px solid black;
}



.button {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: #8FD2D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}