body, html {
		height: 100%;
    	background-size: cover;
    	background-repeat:no-repeat;
    	background: linear-gradient(180deg, rgba(238, 249, 249, 0.99) 24.77%, rgba(215, 247, 247, 0.993002) 32.81%,
		 #A2F3F3 51.56%, #61F1F1 74.48%);
		background-attachment: fixed;
	}

	#settings {
		position: absolute;
		left: 70.8%;
		right: 2.13%;
		top: 1.75%;
		bottom: 3.51%;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.333333px;

		color: #000000;
	}
	
	#buttonPlacement {
		margin: auto;
		padding: 20px;
	}

	#pastJournals,
	#addJournals {
		position: static;
		height: 150px;
		width: 240px;
		display: block;
		background-color: #8FD2D2;
		box-shadow: 5px 5px 5px;
		align-items:center;
		justify-content: center;
		border-radius: 10px;
		margin: 30px 30px 30px 30px;
		font-size: 25px;
	}

	#pageHeader {
		position: relative;
		margin: 20px 20px 20px 20px;
		display: inline-block;
		color: #078686;

	}
