
	#instruction {
		color: #078686;
		position: relative;
		left: 0px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 29px;
		align-items: center;
		text-align: left;
		letter-spacing: -0.333333px;
		color: #078686;
		margin: 10px 10px 10px 10px;
	}

	#title {
		margin: 10px 10px 10px 10px;
		position: relative;
		font-size: 25px;
		color: #078686;
	}

	#JournalPlacement{
		position: relative;
		margin: 10px 10px 10px 10px;
	}

	.journalItems{
		background-color: #8FD2D2;
		font-size: 18px;
		border-radius: 10px;
		width: 90%;
		height: 50px;
		margin: 5px 5px 5px 5px;
		box-shadow: 2px 2px 2px;
	}