body, html {
    	background-size: auto;
    	background-repeat:no-repeat;
    	background: linear-gradient(180deg, rgba(238, 249, 249, 0.99) 24.77%, rgba(215, 247, 247, 0.993002) 32.81%,#A2F3F3 51.56%, #61F1F1 74.48%);
		background-attachment: fixed;
		height: 100%;
	}

	#goals {
		position: absolute;
		left: 50.6%;
		right: 26.4%;
		top: 5.26%;
		bottom: 5.26%;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.333333px;
		color: #000000;
	}
	#settings {
		position: absolute;
		left: 70.8%;
		right: 2.13%;
		top: 1.75%;
		bottom: 3.51%;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.333333px;
		color: #000000;
	}
	
	#home{
		position: absolute;
		left: 3.47%;
		right: 78.13%;
		top: 1.75%;
		bottom: 0%;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.333333px;
		color: #000000;
	}
	
	#journals{
		position: absolute;
		left: 24.93%;
		right: 52%;
		top: 0%;
		bottom: 1.75%;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.333333px;
		color: #000000;
	} 

	#logoutbutton {
		position: absolute;
		left: 70.8%;
		right: 2.13%;
		top: 1.75%;
		bottom: 3.51%;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.333333px;
		color: #000000;
	}
	#headerAndSortButtons {
		width: 100%;
		position: relative;
		margin: 50px 10px 10px 10px;
	}

	#JournalPlacement{
		position: relative;
		display: block;
	}

	p.journalText{
		position: relative;
		color: black;
		display: inline-block;
		background-color: #57DFDF;
		width: 90%;
		border-radius: 10px;
		padding: 10px;
		box-shadow: 2px 2px 2px;
		margin: 10px 10px 10px 10px;
	}

	#goalNameh1 {
		position: relative;
		margin:70px 20px 10px 0px;
		font-size: 25px;
		display: inline-block;
		width: 100%;
	}

	#orderBy {
		position: relative;
		display: inline-block;
		margin: 10px 10px 10px 10px;
		width: 80%;
		white-space: nowrap;
	}
	#sortTitle {
		position: inline;
		font-size:20px;
	}

	#orderByNewest,
	#orderByOldest {
		position: relative;
		display: inline;
		background-color: #8FD2D2;
		border-radius: 5px;
		box-shadow: 2px 2px 2px;
		margin: 10px 10px 10px 10px;
		font-size: 20px;
		text-align: center;
	}